@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,500;1,300&family=Sansita:ital,wght@1,800&display=swap');

.eventDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin: 1rem 0 1rem 0;
}

.scoreTickets {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: italic;
    font-size: larger;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    width: 12rem;
}

.eventName{
    margin: 1rem;
}

.eventInfo {
    color: #37AEAB;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: large;
}

.eventPlace {
    font-size: medium;
    font-weight: 400;
    font-style: italic;
    opacity: 70%;
}

.ticketContainer {
    margin-top: 5rem;
}

/* .showMessageContainer{
    width: 10rem;
    height: 6rem;
    position: absolute;
    top: 40%;
    left: auto;
    background-color: rgb(240, 106, 173);
} */