@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap');

* {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1.5rem;
    color: white;
}

.eventContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
}

.date {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    border-radius: 4px;
    width: 2.5rem;
    height: 2rem;
    padding: 2rem;
    color: white;
    text-align: center;
}

.infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    border-bottom: .5px solid white;
}

.info { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.name {
    font-size: 22px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.where {
    font-size: small;
}

.price {
    align-self: flex-end;
    color: #37AEAB;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: large;
}

