.ticketWrapper {
    display: flex;
    justify-content: center;
}

.ticketCounter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid #F56B9A;
    border-radius: 5px;
    width: 14.3rem;
    height: 8.1rem;
    font-size: 28px;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.total {
    grid-column: 1/ span 4;
    grid-row: 1/ span 2;

    font-weight: bolder;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: xx-large;
    text-shadow: 1px 1px #F56B9A;

    margin-top: auto;
    margin-bottom: auto;
}

.amount {
    grid-column: 2/ span 2;
    border-right: 2px solid #F56B9A;
    border-left: 2px solid #F56B9A;
    border-top: 2px solid #F56B9A;
}

.minus, 
.plus{
    border-top: 2px solid #F56B9A;
    background-color: #231F42;
    color: white;
    padding: 0;
    border-radius: 0;
}