.ticketContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;    
    width: 80%;
    color: black;
    text-align: left;
}

.title {
    color: grey;
    font-size: 10px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bolder;
}

.artist {
    height: 5rem;
    border-bottom: 1.5px dotted grey;
    width: 100%;
    padding-left: 10px;
    font-size: 24px;
    color: #F56B9A;
    font-family: 'Sansita', sans-serif;
}

.place {
    border-bottom: 1.5px dotted grey;
    width: 100%;
    padding-left: 10px;
}

.infoBox {
    border-bottom: 1.5px dotted grey;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-left: 10px;
}

.infoBoxFrom {
    border-left: 1.5px dotted grey;
    border-right: 1.5px dotted grey;
    padding-left: 10px;
}

.infoBoxTo {
    padding-left: 10px;
}

.infoBoxInfo {
    padding-left: 10px;
    width: 100%;
    height: 4rem;
}

.ticketCodeBox {


}

.qrContainer {
    height: 110px;
    width: 110px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrCode {
    height: 100px;
}

.code {
    font-weight: bolder;
    text-align: center;
}