@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Sansita:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap%27');

.ticketWrapper {
    display: flex;
    justify-content: center;
}

.ticketCounter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 2px solid #F56B9A;
    border-radius: 5px;
    width: 14.3rem;
    height: 8.1rem;
    font-size: 28px;
    margin-bottom: 2rem;
}

.total {
    grid-column: 1/ span 4;
    grid-row: 1/ span 2;
    font-weight: bolder;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: xx-large;
    text-shadow: 1px 1px #F56B9A;
    margin-top: auto;
    margin-bottom: auto;
}

.name {
    grid-column: 1/ span 4;
    grid-row: 1/ span 2;
    font-family: 'Sansita', sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 37px;
    color: #F56B9A;
    font-style: italic;
    text-align: left;
    margin: auto 6px;
}

.date {
    grid-column: 1/ span 4;
    grid-row: 2/ span 2;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    color: #37aeab;
    text-align: left;
    margin: auto 6px;
}

.amount {
    grid-column: 2/ span 2;
    border-right: 2px solid #F56B9A;
    border-left: 2px solid #F56B9A;
    border-top: 2px solid #F56B9A;
}

.minus, 
.plus{
    border-top: 2px solid #F56B9A;
    background-color: #231F42;
    color: white;
    padding: 0;
    border-radius: 0;
}