@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&family=Sansita:ital,wght@1,800&display=swap');

#root {
  width: 390px;
  min-height: 675px;
  margin: 0 auto;
  text-align: center;
  background-color: #231F42;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

#root h2 {
  font-family: 'Sansita', sans-serif;
  font-style: normal;
  font-size: 38px;
  line-height: 37px;
  color: #F56B9A;

  font-style: italic;
}
