@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap%27');

#root {
  width: 390px;
  height: 844px;
  margin: 0 auto;
  text-align: center;
  background-color: #231F42;
  font-family: 'Fira Sans', sans-serif;
}

#root h2 {
  font-family: 'Sansita One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #F56B9A;
}
